<div class="meta">
    <div class="field">
        <div class="heading">
            <label>Streaming Status</label>
        </div>
        <div class="input ltr">
            <span class="status {{ statusClass }}"></span>
            <span>{{ label }}</span>
        </div>
    </div>
</div>
